*{
    margin: 0;
    padding: 0;

}
body{
    background-color: aliceblue;
    display: flex;
    place-items:center;
    height: 100vh;
}
main{
    display: grid;
    grid-template-areas: 'a a b '
                         'a a b'
                         'c d d'
                         'c e e';
    gap: 10px;
    width: 50%;
    margin: auto;
}

main div{
    padding: 4em;
    text-align: center;
}

.a{
    background-color: blueviolet;
    grid-area: a;
    
}
.b{
    background-color: rgb(43, 228, 99);
    grid-area: b;
    
}   
.c{
    background-color: rgb(226, 147, 43);
    grid-area: c;
}
.d{
    background-color: rgb(81, 96, 146);
    grid-area: d;
}
.e{
    background-color: rgb(81, 96, 146);
    grid-area: e;
}